@font-face {
    font-family: 'KosugiMaru'; 
    src: url('dashboard/font/Kosugi_Maru/KosugiMaru-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Flamenco'; 
    src: url('dashboard/font/Flamenco/Flamenco-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Barlow Condensed';
    src: url('dashboard/font/BarlowCondensed/BarlowCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: url('dashboard/font/Oswald/Oswald-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to bottom, #00090D, #004E6A);
    min-height: 100vh;
    background-attachment: fixed;
}
header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.4rem 5rem;
    z-index: 1000;
    transition: background 0.5s ease-in-out;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #001a25;
   
}

::-webkit-scrollbar-thumb {
    background:  #004E6A;
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background:#007ea7;
}

header.scrolled {
    background: #00000023;
    filter: drop-shadow(0 0 6px #6c6c6c);
    backdrop-filter: blur(10px);
}


nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    font-family: 'KosugiMaru', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: clamp(18px, 2.5vw, 25px);
    filter: drop-shadow(0 0 2px #ffffff);
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #E99454;
    filter: drop-shadow(0 0 4px #E99454);
}


.hero {
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: smoothAnimation 1s ease-in-out;
}

.hero h2 {
    font-family: 'Flamenco', sans-serif;
    font-size: clamp(40px, 6vw, 80px);
    color: #fff;
}
.hero h1 {
    font-family: 'Flamenco', sans-serif;
    font-size: clamp(50px, 7vw, 100px);
    color: #fff;
}
.hero p {
    font-size: clamp(16px, 3vw, 30px);
    max-width: 80%; 
    margin: 0 auto; 
    font-family: 'Flamenco', sans-serif;
    color: #fff;
    line-height: 1.6;
}
.tasks{
    padding: 100px;
}
.tasks h1 {
    padding: 30px;
    text-align: center;
    font-family: 'Flamenco', sans-serif;
    font-size: clamp(40px, 6vw, 80px);
    color: #fff;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card {
    width: 280px;
    height: 450px;
    background: rgba(255, 255, 255, 0.222);
    border-radius: 20px;
    box-shadow: 0 0px 10px #ffffff;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
    z-index: 1;
}
.card h1{
    font-family: 'Flamenco', sans-serif;
    font-size: clamp(20px, 3vw, 30px);
    color: #fff;
}
.card button {
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 12px 30px;
    background: #fff;
    color: #E99454;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.card button:hover {
    background-color: #E99454;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0 8px 20px #E99454;
}
footer p a{
    text-decoration: none;
    color: #ffffff;
}
footer {
    border-radius: 10px;
    background-color: #004e6a87;
    color: #ffffff;
    text-align: center;
    padding: 5rem;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
    header {
        padding: 1rem 2rem;
    }
    
    nav ul {
        flex-direction: column;
        gap: 20px;
    }
    nav li {
        margin-bottom: 10px;
    }
    .hero p {
        max-width: 90%;
    }
}
@keyframes smoothAnimation {
    0% {
bottom:50px;        
        opacity: 0;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}

/*safa */
.frontend-section {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.frontend-section .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.frontend-section  .card {
    width: 280px;
    height: 450px;
    background: rgba(255, 255, 255, 0.222);
    border-radius: 20px;
    box-shadow: 0 0px 10px #ffffff;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.frontend-section .card img {
    width: 100%;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
    z-index: 1;
}
.frontend-section  h1{

    font-family: 'Flamenco', sans-serif;
    font-size: clamp(20px, 3vw, 30px);
    color: #fff;
}
.frontend-section  .card button {
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 12px 30px;
    background: #fff;
    color: #E99454;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.frontend-section .card button:hover {
    background-color: #E99454;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0 8px 20px #E99454;
}
 @media (max-width: 768px) {
    .frontend-section .cards {
        padding: 0 20px;  
    }

    .frontend-section .card {
        width: 60%;  
        height:  450px;
        margin: auto;
        margin-bottom: 20px;  
     }
}


.frontend-part2 h1 {
    font-family: 'Flamenco', sans-serif;
    color: #fff;
    font-style: normal;
    padding: 120px 0px 50px 0px;
    text-align: center;
    font-size: clamp(40px, 6vw, 80px);
}
 
.frontend-part2 .cards {
    display: flex;
    flex-direction: column;  
    gap: 20px;  
    padding: 0 50px;
}
 
.frontend-part2 .cardd {
    width: 100%;  
    height: 120px;  
    display: flex;
    justify-content: flex-start;  
    align-items: center;
    background: rgba(255, 255, 255, 0.222);
    border-radius: 20px;
    box-shadow: 0 0px 10px #ffffff;
    backdrop-filter: blur(10px);
    padding: 25px;
    position: relative; 
    margin-bottom: 20px;
}

.frontend-part2 .cardd img {
    width: 80px;  
    height: 80px;
    object-fit: cover; 
    gap: 20px;
    border-radius: 15px;
    left: 10px;  
    z-index: 1;
}

.frontend-part2 .cardd .content {
    width: calc(100% - 80px);  
    display: flex;
    flex-direction: column;  
    justify-content: flex-start; 
    align-items: flex-start; 
    text-align: left; 
    margin-left: 10px;  
}

.frontend-part2 .cardd h1 {
    font-size: 1.2rem;
    color: #fff;
    padding-top: 10px; 
     padding-left: 12px;
    margin: 0; 
     overflow: hidden;
     text-overflow: ellipsis;
 }

.frontend-part2 .cardd button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 12px 30px;
    background: #fff;
    color: #E99454;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    position: absolute; 
     right: 10px; 
     z-index: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.frontend-part2 .cardd button:hover {
    background-color: #E99454;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0 8px 20px #E99454;
}
.cardd p{
    color: #ddd;
    font-size: medium;
    margin-left: 0%;
    padding-right: 10px;
}

 @media (max-width: 768px) {
    .frontend-part2 h1{
        padding:80px 8px 15px 10px;
        font-size: 2.4rem;
     }
    .frontend-part2 .cardd  {
        width: 100%;
        padding: 0%;
        margin:  auto;
        height: 150px; 
     }

    .frontend-part2 .cardd h1 {
        font-size: .8rem; 
        padding-left: 8px; 
    }

    .frontend-part2 .cardd .content {
        width: calc(100% - 60px); 
     }

    .frontend-part2 .cards {
        gap: 20px; 
        margin-bottom: 20px;
    }
}
 
.multiple-choice {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2px 0;
}

.choice {
    flex: 1;
    display: flex;
    justify-content: center; 
}

.choice select {
    padding: 10px;
    width: 20%; 
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 20px;
}

.left {
    margin-right: 10px;
}

.right {
    margin-left: 10px; 
}
 @media (max-width: 768px) {
    .cardd {
        width: 100%;
         margin-bottom: 20px;
    }

    .cardd h1, .cardd p {
        font-size: .8rem; 
    }

    .cardd button {
        font-size: .17rem;
        margin-top: 89px;
        height: 55px;
        width: 35%; 
     }
    
.choice select {
    padding: 10px;
    width: 80%; 
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 20px;
}
}